<dialog id="dialogTableResult">
    <style>
        .pointer {
            cursor: pointer;
        }

        #dialogTableResult {
            overflow: hidden;
        }

        #dialogTableResult:focus {
            outline: none;
        }

        #dialogTableResult .modal-header {
            position: sticky;
            top: 0;
            z-index: 20;
            background: #fff;
        }

        #dialogTableResult .modal-body {
            overflow: auto; /* va bene anche overflow-y:auto */
            position: relative;
            padding: 0;
        }

        #dialogTableResult #import-stock-service-results-content {
            padding: 0.75rem;
        }

        #dialogTableResult table {
            border-collapse: separate;
            border-spacing: 0;
        }

        #dialogTableResult table thead {
            background: #303030;
        }
        
        #dialogTableResult table thead th {
            position: sticky;
            top: 0;
            z-index: 10;
            background: #303030; /* importante, altrimenti si vede “trasparente” */
            color: #fcfcfc;
        }
    </style>
    <div class="bootstrap">
        <div class="modal-header">
            <div>
                <h5 class="modal-title">Risultati importazione Stock Service</h5>
                <div id="DocumentData" class="mb-3">
                    <h3>
                        <span>Documento {{ parsed.movement_number }} del {{ parsed.movement_date }}</span>
                        <span> (id mov: {{ parsed.movement_type }})</span>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close" onclick="document.getElementById('dialogTableResult').close();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow-y: auto; height: 60vh">
            <div id="import-stock-service-results-content">
                <table id="tableResult" class="table table-condensed table-striped">
                    <thead class="table-dark sticky">
                        <tr>
                            <th>IMM</th>
                            <th>Riferimento</th>
                            <th>Ean13</th>
                            <th>Prodotto</th>
                            <th>Combinazione</th>
                            <th>Magazzino</th>
                            <th>Variazione</th>
                            <th>Stock</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in parsed.rows %}
                            <tr>
                                <td><img src="{{ row.image_url | raw }}" class="img-thumbnail img-fluid" style="width: 48px; height: 48px; object-fit: contain;"></td>
                                <td>{{ row.reference }}</td>
                                <td>
                                    <a href="{{ row.product_link }}" target="_blank" class="text-decoration-none">
                                    <span {%if not row.is_stock_service%} style="font-weight: bold; color: #A02020;"{% endif %}>{{ row.ean13 }}</span>
                                    </a>
                                </td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.combination.name }}</td>
                                {% if not row.is_stock_service %}
                                    <td class="text-right">--</td>
                                    <td class="text-right">--</td>
                                    <td class="text-right">--</td>
                                {% else %}
                                    <td class="text-center">
                                        {% if row.stock < 0 %}
                                            <strong>--</strong>
                                        {% elseif row.stock == 0 %}
                                            <span class="badge badge-info">{{ row.stock }}<strong>
                                        {% else %}
                                            <strong>{{ row.stock }}</strong>
                                        {% endif %}
                                        
                                    </td>
                                    <td class="text-center">
                                        <span style="font-size: 1rem;" class="badge badge{% if row.movement < 0 %}-danger{% else %}-success{% endif %}">
                                            {{ row.movement }}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        {% if row.quantity < 0 %}
                                            <span class="badge badge-info">0<strong>
                                        {%elseif row.quantity == 0 %}
                                            <span class="badge badge-warning">0<strong>
                                        {% else %}
                                            <strong>{{ row.quantity }}</strong>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td>
                                    {%if row.status == 'updated' %}
                                        <span class="material-icons text-success pointer" title="Prodotto aggiornato">check</span>
                                    {% else %}
                                        <span class="material-icons text-danger pointer" {%if not row.is_stock_service%}title="Prodotto non a Stock Service"{% endif %}>error_outline</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if 1==0 %}
                <pre>{{ parsed|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</pre>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="document.getElementById('dialogTableResult').close();">Chiudi</button>
        </div>
    </div>
</dialog>
